@font-face {
    font-family: 'Manrope';
    src: url(/fonts/Manrope-VariableFont_wght.ttf);
}

h1,
h2,
footer,
a,
p {
    font-family: 'Manrope', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header,
nav,
footer {
    background-color: #503A2F;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

nav li{
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: none;
    color:#FFF;
    text-transform: uppercase;
}

footer {
    color: #fff;
    text-align: center;
    
}

body {
    margin: 0px;
}

.header-logo {
    max-width: 200px;
}

.portrait{
    max-width: 200px;
}

.current {
    text-decoration: underline;
}

.main_context {
    margin: 0px 30px;
}
.main_context_about,
.aboutme  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.main_context_about h2 {
    text-align: center;
    padding: 30px;
}
.aboutme {
    padding: 30px;
    max-width: 800px;
}
.reachme {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.linkto {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.linkto img {
    max-width: 50px;
}
.linkto a {
    color: #000;
}