@font-face {
    font-family: 'Manrope';
    src: url(/fonts/Manrope-VariableFont_wght.ttf);
}

h1,
h2,
footer,
a,
p {
    font-family: 'Manrope', Verdana, Geneva, Tahoma, sans-serif;
}

header,
nav,
footer {
    background-color: #503A2F;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

nav li {
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: none;
    color:#FFF;
    text-transform: uppercase;
}

footer {
    color: #fff;
    text-align: center;
    
}

body {
    margin: 0px;
}

.header-logo {
    max-width: 200px;
}

.current {
    text-decoration: underline;
}

.main_context {
    margin: 0px 30px;
}

